.changeCurrencyContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.currencyInput:hover {
    cursor: not-allowed;
}
.swipeButton {
    display: flex;
    justify-content: center;
}
.swipe-button > svg {
    cursor: pointer;
}